
button {
    font-size:16px;
    width:100px;
    margin:10px;
    color: black;
    background:white;
    padding: 15px;
    border-radius: 30px;
    border-color: black;
    border-width: 5px;
}

.resetButton {
    background-color: red;
}

.count {
    font-size: 50px;
    padding: 25px;

}

.totalCount {
    color: blue;
    font-size: 150px;
}